In [1]:
# data manipulation
import numpy as np
import pandas as pd

# from feature-engine
from feature_engine.encoding import (
    OrdinalEncoder,
    OneHotEncoder,
)

# from Scikit-learn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Pickle for data preprocessing
import pickle

- import the pickle files

In [2]:
# load the encoder and scaler
with open('oh_encoder_geo.pkl','rb') as file:
    oh_encoder_geo=pickle.load(file)

with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

In [3]:
df= pd.read_csv(r"C:\Users\furka\JupyterNotebookProjects\End-to-End-Churn-Modelling-Binary-Classification\Churn_Modelling.csv")

In [4]:
## Drop the unnecessary columns
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [5]:
# Drop the null values.
# Since the number of missing data is low, we can directly delete the missing data instead of filling it in. 
# Because it will not affect the model. We can use dropna() for this.
df = df.dropna()
# Dropping the duplicate values
df = df.drop_duplicates()

print('Rows containing missing data and duplicate data were deleted.')

Rows containing missing data and duplicate data were deleted.

In [6]:
# Separate into train and test set
# Remember to set the seed (random_state for this sklearn function)
X_train, X_test, y_train, y_test = train_test_split(
    df.drop(['Exited'], axis=1), # predictive variables
    df['Exited'], # target
    test_size=0.2, # portion of dataset to allocate to test set
    random_state=0, # we are setting the seed here
)

print('The dataset separate dataset into train and test successfully')
X_train.shape, X_test.shape

The dataset separate dataset into train and test successfully

((8000, 10), (2000, 10))

- We perform the transform process in order using the pickle files we have previously packaged.

In [7]:
X_train = label_encoder_gender.transform(X_train)
X_test = label_encoder_gender.transform(X_test)

In [8]:
X_train.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
7389,667,Spain,0,34,5,0.00,2,1,0,163830.64
9275,427,Germany,1,42,1,75681.52,1,1,1,57098.00
2995,535,France,0,29,2,112367.34,1,1,0,185630.76
5316,654,Spain,1,40,5,105683.63,1,1,0,173617.09
356,850,Spain,0,57,8,126776.30,2,1,1,132298.49

In [9]:
X_train = oh_encoder_geo.transform(X_train)
X_test = oh_encoder_geo.transform(X_test)

In [10]:
X_test.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Spain,Geography_Germany,Geography_France
9394,597,0,35,8,131101.04,1,1,1,192852.67,0,1,0
898,523,0,40,2,102967.41,1,1,0,128702.10,0,0,1
2398,706,0,42,8,95386.82,1,1,1,75732.25,1,0,0
5906,788,1,32,4,112079.58,1,0,0,89368.59,0,0,1
2343,706,1,38,5,163034.82,2,1,1,135662.17,0,1,0

In [11]:
X_train = pd.DataFrame(
    scaler.transform(X_train),
    columns=X_train.columns
)

X_test = pd.DataFrame(
    scaler.transform(X_test),
    columns=X_train.columns
)

In [12]:
X_train.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Spain,Geography_Germany,Geography_France
0,0.169582,-1.091687,-0.464608,0.006661,-1.215717,0.809503,0.642595,-1.032270,1.106432,1.743090,-0.569844,-1.014607
1,-2.304559,0.916013,0.301026,-1.377440,-0.006312,-0.921591,0.642595,0.968738,-0.748664,-0.573694,1.754865,-1.014607
2,-1.191196,-1.091687,-0.943129,-1.031415,0.579935,-0.921591,0.642595,-1.032270,1.485335,-0.573694,-0.569844,0.985604
3,0.035566,0.916013,0.109617,0.006661,0.473128,-0.921591,0.642595,-1.032270,1.276528,1.743090,-0.569844,-1.014607
4,2.056114,-1.091687,1.736588,1.044737,0.810193,0.809503,0.642595,0.968738,0.558378,1.743090,-0.569844,-1.014607

In [13]:
X_test.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Spain,Geography_Germany,Geography_France
0,-0.552043,-1.091687,-0.368904,1.044737,0.879303,-0.921591,0.642595,0.968738,1.610857,-0.573694,1.754865,-1.014607
1,-1.314903,-1.091687,0.109617,-1.031415,0.429722,-0.921591,0.642595,-1.032270,0.495870,-0.573694,-0.569844,0.985604
2,0.571630,-1.091687,0.301026,1.044737,0.308583,-0.921591,0.642595,0.968738,-0.424787,1.743090,-0.569844,-1.014607
3,1.416961,0.916013,-0.656016,-0.339364,0.575336,-0.921591,-1.556190,-1.032270,-0.187777,-0.573694,-0.569844,0.985604
4,0.571630,0.916013,-0.081791,0.006661,1.389611,0.809503,0.642595,0.968738,0.616842,-0.573694,1.754865,-1.014607

## ANN Implementation

In [17]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [18]:
pip show tensorflow

Name: tensorflow
Version: 2.15.0
Summary: TensorFlow is an open source machine learning framework for everyone.
Home-page: https://www.tensorflow.org/
Author: Google Inc.
Author-email: packages@tensorflow.org
License: Apache 2.0
Location: C:\Users\furka\Python\Python311\Lib\site-packages
Requires: tensorflow-intel
Required-by:
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~otebook (C:\Users\furka\Python\Python311\Lib\site-packages)

In [19]:
(X_train.shape[1],)

(12,)

In [20]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 Connected wwith input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1,activation='sigmoid')  ## output layer
]

)

WARNING:tensorflow:From C:\Users\furka\Python\Python311\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [22]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [23]:
## compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [24]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [25]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [26]:
### Train the model
history=ann_model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From C:\Users\furka\Python\Python311\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\furka\Python\Python311\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 2ms/step - loss: 0.4016 - accuracy: 0.8265 - val_loss: 0.3589 - val_accuracy: 0.8575
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3566 - accuracy: 0.8544 - val_loss: 0.3558 - val_accuracy: 0.8580
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3486 - accuracy: 0.8564 - val_loss: 0.3471 - val_accuracy: 0.8590
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3439 - accuracy: 0.8577 - val_loss: 0.3425 - val_accuracy: 0.8580
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3422 - accuracy: 0.8581 - val_loss: 0.3386 - val_accuracy: 0.8600
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3412 - accuracy: 0.8634 - val_loss: 0.3456 - val_accuracy: 0.8550
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8622 - val_loss: 0.3381 - val_accuracy: 0.8670
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8629 - val_loss: 0.3393 - val_accuracy: 0.8600
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8615 - val_loss: 0.3492 - val_accuracy: 0.8585
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3302 - accuracy: 0.8650 - val_loss: 0.3376 - val_accuracy: 0.8655
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8650 - val_loss: 0.3349 - val_accuracy: 0.8660
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3262 - accuracy: 0.8679 - val_loss: 0.3418 - val_accuracy: 0.8645
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3241 - accuracy: 0.8656 - val_loss: 0.3485 - val_accuracy: 0.8660
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3239 - accuracy: 0.8684 - val_loss: 0.3454 - val_accuracy: 0.8630
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3218 - accuracy: 0.8695 - val_loss: 0.3568 - val_accuracy: 0.8565
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3232 - accuracy: 0.8665 - val_loss: 0.3561 - val_accuracy: 0.8640
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3185 - accuracy: 0.8704 - val_loss: 0.3510 - val_accuracy: 0.8610
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3193 - accuracy: 0.8694 - val_loss: 0.3544 - val_accuracy: 0.8595
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3142 - accuracy: 0.8705 - val_loss: 0.3493 - val_accuracy: 0.8635
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3124 - accuracy: 0.8739 - val_loss: 0.3473 - val_accuracy: 0.8670
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3118 - accuracy: 0.8723 - val_loss: 0.3503 - val_accuracy: 0.8600

In [27]:
model.save('ann_model.h5')

C:\Users\furka\Python\Python311\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(