In [1]:
pip show tensorflow

Name: tensorflow
Version: 2.17.0
Summary: TensorFlow is an open source machine learning framework for everyone.
Home-page: https://www.tensorflow.org/
Author: Google Inc.
Author-email: packages@tensorflow.org
License: Apache 2.0
Location: C:\Users\furka\AppData\Local\Programs\Python\Python312\Lib\site-packages
Requires: tensorflow-intel
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [2]:
# data manipulation
import numpy as np
import pandas as pd

# from feature-engine
from feature_engine.encoding import (
    OrdinalEncoder,
    OneHotEncoder,
)

# from Scikit-learn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Pickle for data preprocessing
import pickle

- import the pickle files

In [3]:
# load the encoder and scaler
with open('oh_encoder_geo.pkl','rb') as file:
    oh_encoder_geo=pickle.load(file)

with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

In [4]:
df= pd.read_csv(r"C:\Users\furka\JupyterNotebookProjects\End-to-End-Churn-Modelling-Binary-Classification\Churn_Modelling.csv")

In [5]:
## Drop the unnecessary columns
df=df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [6]:
# Drop the null values.
# Since the number of missing data is low, we can directly delete the missing data instead of filling it in. 
# Because it will not affect the model. We can use dropna() for this.
df = df.dropna()
# Dropping the duplicate values
df = df.drop_duplicates()

print('Rows containing missing data and duplicate data were deleted.')

Rows containing missing data and duplicate data were deleted.

In [7]:
# Separate into train and test set
# Remember to set the seed (random_state for this sklearn function)
X_train, X_test, y_train, y_test = train_test_split(
    df.drop(['Exited'], axis=1), # predictive variables
    df['Exited'], # target
    test_size=0.2, # portion of dataset to allocate to test set
    random_state=0, # we are setting the seed here
)

print('The dataset separate dataset into train and test successfully')
X_train.shape, X_test.shape

The dataset separate dataset into train and test successfully

((8000, 10), (2000, 10))

- We perform the transform process in order using the pickle files we have previously packaged.

In [8]:
X_train = label_encoder_gender.transform(X_train)
X_test = label_encoder_gender.transform(X_test)

In [9]:
X_train.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
7389,667,Spain,0,34,5,0.00,2,1,0,163830.64
9275,427,Germany,1,42,1,75681.52,1,1,1,57098.00
2995,535,France,0,29,2,112367.34,1,1,0,185630.76
5316,654,Spain,1,40,5,105683.63,1,1,0,173617.09
356,850,Spain,0,57,8,126776.30,2,1,1,132298.49

In [10]:
X_train = oh_encoder_geo.transform(X_train)
X_test = oh_encoder_geo.transform(X_test)

In [11]:
X_test.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Spain,Geography_Germany,Geography_France
9394,597,0,35,8,131101.04,1,1,1,192852.67,0,1,0
898,523,0,40,2,102967.41,1,1,0,128702.10,0,0,1
2398,706,0,42,8,95386.82,1,1,1,75732.25,1,0,0
5906,788,1,32,4,112079.58,1,0,0,89368.59,0,0,1
2343,706,1,38,5,163034.82,2,1,1,135662.17,0,1,0

In [12]:
X_train = pd.DataFrame(
    scaler.transform(X_train),
    columns=X_train.columns
)

X_test = pd.DataFrame(
    scaler.transform(X_test),
    columns=X_train.columns
)

In [13]:
X_train.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Spain,Geography_Germany,Geography_France
0,0.169582,-1.091687,-0.464608,0.006661,-1.215717,0.809503,0.642595,-1.032270,1.106432,1.743090,-0.569844,-1.014607
1,-2.304559,0.916013,0.301026,-1.377440,-0.006312,-0.921591,0.642595,0.968738,-0.748664,-0.573694,1.754865,-1.014607
2,-1.191196,-1.091687,-0.943129,-1.031415,0.579935,-0.921591,0.642595,-1.032270,1.485335,-0.573694,-0.569844,0.985604
3,0.035566,0.916013,0.109617,0.006661,0.473128,-0.921591,0.642595,-1.032270,1.276528,1.743090,-0.569844,-1.014607
4,2.056114,-1.091687,1.736588,1.044737,0.810193,0.809503,0.642595,0.968738,0.558378,1.743090,-0.569844,-1.014607

In [14]:
X_test.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Spain,Geography_Germany,Geography_France
0,-0.552043,-1.091687,-0.368904,1.044737,0.879303,-0.921591,0.642595,0.968738,1.610857,-0.573694,1.754865,-1.014607
1,-1.314903,-1.091687,0.109617,-1.031415,0.429722,-0.921591,0.642595,-1.032270,0.495870,-0.573694,-0.569844,0.985604
2,0.571630,-1.091687,0.301026,1.044737,0.308583,-0.921591,0.642595,0.968738,-0.424787,1.743090,-0.569844,-1.014607
3,1.416961,0.916013,-0.656016,-0.339364,0.575336,-0.921591,-1.556190,-1.032270,-0.187777,-0.573694,-0.569844,0.985604
4,0.571630,0.916013,-0.081791,0.006661,1.389611,0.809503,0.642595,0.968738,0.616842,-0.573694,1.754865,-1.014607

## ANN Implementation

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [16]:
(X_train.shape[1],)

(12,)

In [17]:
# Build Our ANN Model
ann_model=Sequential([
    Dense(32,activation='relu',input_shape=(X_train.shape[1],)), # HL1 Connected with input layer
    Dense(16,activation='relu'), # HL2
    Dense(1,activation='sigmoid')  # output layer
]

)

C:\Users\furka\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [18]:
ann_model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 32)                  │             416 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 16)                  │             528 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │              17 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 961 (3.75 KB)

 Trainable params: 961 (3.75 KB)

 Non-trainable params: 0 (0.00 B)

In [19]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [20]:
## compile the model
ann_model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [21]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [22]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=25,restore_best_weights=True)

In [23]:
### Train the model
history=ann_model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8160 - loss: 0.4325 - val_accuracy: 0.8510 - val_loss: 0.3589
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8565 - loss: 0.3530 - val_accuracy: 0.8550 - val_loss: 0.3494
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8585 - loss: 0.3500 - val_accuracy: 0.8610 - val_loss: 0.3428
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8630 - loss: 0.3364 - val_accuracy: 0.8595 - val_loss: 0.3434
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8614 - loss: 0.3439 - val_accuracy: 0.8665 - val_loss: 0.3360
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8649 - loss: 0.3314 - val_accuracy: 0.8625 - val_loss: 0.3469
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8645 - loss: 0.3305 - val_accuracy: 0.8615 - val_loss: 0.3386
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8683 - loss: 0.3262 - val_accuracy: 0.8460 - val_loss: 0.3515
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8653 - loss: 0.3243 - val_accuracy: 0.8600 - val_loss: 0.3552
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8609 - loss: 0.3432 - val_accuracy: 0.8460 - val_loss: 0.3548
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8584 - loss: 0.3389 - val_accuracy: 0.8565 - val_loss: 0.3333
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8681 - loss: 0.3170 - val_accuracy: 0.8530 - val_loss: 0.3533
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8666 - loss: 0.3253 - val_accuracy: 0.8420 - val_loss: 0.3581
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8630 - loss: 0.3279 - val_accuracy: 0.8595 - val_loss: 0.3381
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8632 - loss: 0.3248 - val_accuracy: 0.8570 - val_loss: 0.3471
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8631 - loss: 0.3286 - val_accuracy: 0.8530 - val_loss: 0.3555
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8714 - loss: 0.3165 - val_accuracy: 0.8560 - val_loss: 0.3456
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8652 - loss: 0.3238 - val_accuracy: 0.8560 - val_loss: 0.3535
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8685 - loss: 0.3215 - val_accuracy: 0.8505 - val_loss: 0.3548
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8681 - loss: 0.3143 - val_accuracy: 0.8500 - val_loss: 0.3510
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8670 - loss: 0.3228 - val_accuracy: 0.8510 - val_loss: 0.3606
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8697 - loss: 0.3062 - val_accuracy: 0.8550 - val_loss: 0.3505
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8659 - loss: 0.3252 - val_accuracy: 0.8585 - val_loss: 0.3571
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8622 - loss: 0.3241 - val_accuracy: 0.8550 - val_loss: 0.3491
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8626 - loss: 0.3234 - val_accuracy: 0.8540 - val_loss: 0.3484
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8676 - loss: 0.3132 - val_accuracy: 0.8565 - val_loss: 0.3552
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8752 - loss: 0.3046 - val_accuracy: 0.8525 - val_loss: 0.3598
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8749 - loss: 0.3113 - val_accuracy: 0.8495 - val_loss: 0.3561
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8742 - loss: 0.3057 - val_accuracy: 0.8565 - val_loss: 0.3508
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8665 - loss: 0.3121 - val_accuracy: 0.8545 - val_loss: 0.3584
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8767 - loss: 0.3036 - val_accuracy: 0.8510 - val_loss: 0.3669
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8717 - loss: 0.3034 - val_accuracy: 0.8580 - val_loss: 0.3489
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8751 - loss: 0.2990 - val_accuracy: 0.8570 - val_loss: 0.3657
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8760 - loss: 0.2975 - val_accuracy: 0.8595 - val_loss: 0.3522
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8745 - loss: 0.2983 - val_accuracy: 0.8540 - val_loss: 0.3627
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8714 - loss: 0.3024 - val_accuracy: 0.8595 - val_loss: 0.3676

In [24]:
ann_model.save('ann_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [25]:
## Load Tensorboard Extension
%load_ext tensorboard

In [26]:
tensorboard --logdir=logs/fit --port=6007

Reusing TensorBoard on port 6007 (pid 9708), started 5:31:28 ago. (Use '!kill 9708' to kill it.)